<ng-container *ngIf="Product.length !=0">
    <div class="container">
        <div class="cart_table">
            <div class="cart_product">
        <table class="table table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Product; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{item.title}}</td>
                  <td><img style="width:120px;" src="{{item.image}}"></td>
                  <td>{{item.description}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.total}}</td>
                  <td>
                      <button (click)="removecartItem(item)" class="btn btn-primary"><i class="fas fa-trash"></i></button>
                  </td>
                
              </tr>
              <tr>
                <td colspan="4"></td>
                <td><button (click)=" emptycart()" class="btn btn-sm btn-danger">Empty cart</button></td>
                <td><button routerLink="/Product" class="btn btn-sm btn-success">Show Products</button></td>
                <td><button class="btn btn-sm btn-warning">Checkout</button></td>
                <td><strong>Grand Total: $ {{grandTotal}}</strong><td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="Product.length ==0">
    <div class="container">
        <div class="card">
            <div class="center">
            <div class="card-body">
              <h5 class="card-title">My Car is Empty</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <button  routerLink="/Product"type="button" class="btn btn-primary">Shop Now</button>
            </div>
          </div>
        </div>
    </div>
</ng-container>